
/*-------------------------
	General Styles
--------------------------*/

body{
	font-family : Arial, sans-serif;
	width: 100%;
	padding-top: 150px;
	background-color: #FFFACD;
}

a{
	color :#F4A460 !important;
}


/*-----------------------------------
	Navigation Bar Styles
------------------------------------*/

.navbar{
	padding: 45px 0;
	background-color: #FFFACD;
	transition:padding 0.4s;
}


/* Contract the navbar while scrolling */

.navbar.scrolled{
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	padding: 16px 0;
}

#myNavbar{
	overflow-x: hidden;
}

#myNavbar ul li:last-child a{
	padding-right: 0;
}

/* Brand name */

.brandStyle{
	color: #FF851B !important;
	font-family : Josefin Slab, serif;
	font-size: 48px;
}

/* Menu */

.menustyle{
	font-size: 25px;
}

.goto {
	background-color: #FFFACD !important;
    width: 100%;
    height: 100%;
    z-index:0; 
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

/*-----------------------------------
	Main Picture 
------------------------------------*/

.headpicture{
	background:url(../images/header.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	width: 100%;
	height: 600px;
	filter: blur(10px);
  	-webkit-filter: blur(10px);
  	z-index: 1;
  	display: block;
}

#myFaceContainer{
	z-index: 2;
	position: absolute;
	top: 30%;
	left: 30%;
	max-height: 50%;
	max-width: 50%;
}

#me{
	box-shadow: 0px 0px 15px #FFFACD;
}

#intro{
	font-family: 'Poiret One', cursive;
	text-rendering: optimizeLegibility;
	text-align: center;
	z-index: 5;
	color: #fff;
	line-height: 1.5;
	max-width: 700px;
}

#face-alone{
	top: -15px;
}

/*-----------------------------------
		Text
------------------------------------*/

/* Titles */

h1{
	color: #FF851B;
	font-size:48px;
	margin-top: 150px;
	font-family : 'Josefin Slab', sans-serif;
}

h4{
	font-size: 20px;
	color: #696969;
	font-family: 'Poiret One', sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

/* Paragraphs */

.textStyle{
	color: #989999;
	font-size: 18px;
	text-align: justify;
	line-height: 1.5;
	max-width: 800px;
	margin: 80px auto 0 auto;
}

.textStyle a{
	text-decoration:underline;
}

.textStyle a:hover{
	text-decoration: none;
}


/*-----------------------------------
	Latest Projects
------------------------------------*/

/* Container */

.latestProjects{
	max-width: 900px;
	margin : 80px auto 0 auto;
}

.latestProjects p{
	font-size: 16px;
	color: #757879;
	width: 260px;
	text-align: left;
	margin: 13px auto 60px auto;
}

.latestProjects p a{
	font-size: 12px;
	display: block;
	width: 80px;
	white-space: nowrap;
	margin-top: 6px;
}

.latestProjects img{
	width:260px;
}


/*-----------------------------------
		Footer
------------------------------------*/

.footer{
	padding: 13px 0px 0px 0px;
	border-top: 1px solid #e5e5e5;
	color: #757879;
	font-size: 12px;
	margin:70px auto;
}

/* Social buttons */

.socialButtons img{
	width:36px;
	opacity:0.6;
}

.socialButtons a{
	display:inline-block;
}

.socialButtons a:hover img{
	opacity:0.8;
}

#footerLogoText{
	line-height:30px;
}



/*-----------------------------------
	Helper classes
------------------------------------*/

.noPadding{
	padding:0;
}

.noBorder{
	border: 0;
}


/*-----------------------------------
	Media querries
------------------------------------*/

/* On smaller screens */

@media (max-width: 992px) {
	
	/* General */
	
	body{
		padding-top: 76px;
	}

	li{
		padding-left:8px;
	}
	
	h1 {
		margin-top: 80px;
	}

	/* Navigation bar */
	
	.navbar{
		padding: 16px 0;
	}
	
	/* Main picture */
	
	.headpicture{
		height: 250px;
	}
	
	/* Latest Projects */
	
	.textStyle{
		margin-top: 40px;
	}
	
	.titleStyle{
		margin-top: 70px;
	}
	
	/* Footer */
	
	.footer{
		margin: 40px auto;
	}
	
	#footerLogoText{
		text-align: center;
	}
	
	/* Sharing buttons */
	
	.responsiveAlign {
		text-align: center;
		padding: 5px ;
	}

}

/*---------------------
	SCROLLING
------------------------*/

a[ id= "aboutme" ]:target ~ #main article.goto {
	-webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "projects" ]:target ~ #main article.goto {
	-webkit-transform: translateY( -500px);
    transform: translateY( -500px );
}

a[ id= "contact" ]:target ~ #main article.goto {
	-webkit-transform: translateY( -1000px);
    transform: translateY( -1000px );
}
/* On bigger screens */ 

/*@media (min-width: 993px) {
	
	.responsiveAlign {
		float: right;
	}
}

@media screen and (max-height: 568px) {
        h2 {
    font-size:10px;
    }
    #myFaceContainer{
    	top: 25%;
    	left: -10%;
    }
    #intro{
    	left: 10%;
    }
}

@media screen and (max-height: 667px) {
        h2 {
    font-size:10px;
    }
    #myFaceContainer{
    	top: 21%;
    	left: -3%;
    }
    #intro{
    	left: 10%;
    }
}

@media screen and (max-height: 736px) {
        h2 {
    font-size:10px;
    }
    #myFaceContainer{
    	top: 11%;
    	left: -3%;
    }
    #intro{
    	left: 10%;
    }
}

@media screen and (max-width: 320px) {
        h2 {
    font-size:10px;
    }
    #myFaceContainer{
    	left: -10%;
    }
    #intro{
    	left: 10%;
    }
}
 
@media screen and (max-width: 568px) {
        h2 {
    font-size:15px;
    font-weight: bolder;
    }
}

@media (min-width: 1920px) {
        h2 {
    font-size:35px;
    font-weight: bolder;
    }
    #myFaceContainer{
    	top: 20%;
    	left: 35%;
    }
}

@media (min-width: 2560px) {
        h2 {
    font-size:35px;
    font-weight: bolder;
    }
    #myFaceContainer{
    	top: 20%;
    	left: 40%;
    }
}*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
h2 {
    font-size:12px;
    }
    #myFaceContainer{
    	left: 30%;
    	top: 35%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
h2 {
    font-size:12px;
    }
    #myFaceContainer{
    	left: 30%;
    	top: 25%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}